@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	background: #eee:
	height: auto;
}

h1 {
	font-weight: 400;
	font_size: 2.5rem;
	margin: 0;
}

h2 {
	font-weight: 400;
	font-size: 1.2rem;
	margin: 0;
}

img {
	display: block;
	width: 100%;
	padding-top: 1rem;
}

main {
	max-width: 900px;
	margin: auto;
	box-shadow: 20px 0px 50px rgba(0,0,0,0.2),
	-20px 0px 50px rgba(0,0,0,0.2);
}

.navbar {
  overflow: hidden;
  background-color: #aaa;
	max-width: 900px;
	width: 100%;
	margin: auto;
}

.navbar a {
  float: left;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
	display: block;
}

.navbar .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1rem;
  border: none;
  outline: none;
  color: #fff;
  padding: 1rem 1rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eee;
  min-width: 137px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #000;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #eee;
	color: #000;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

#landing {
	background: #fff;
}

#landing_text {
	display: flex;
	flex: 0 1 40vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
}

#landing_text h2 {
	color: #888;
}

#landing_image {
	background: url(../img/creator_school.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 50vh;
	flex: 0 1 50vw;
	margin: 0;
}

.btn {
	padding: 0.5rem 2rem;
	border: 1px #ccc solid;
	display: inline-block;
	margin: 2rem 0.5rem 0;
	border-radius: 50px;
	text-decoration: none;
	color: #333;
	transition: background 500ms ease;
}

.btn:hover {
	background: #f4f4f4;
}

#landing_not_home {
	background: #fff;
}

#landing_text_not_home {
	display: flex;
	flex: 0 1 40vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
}

#landing_text_not_home h1 {
	font-size: 2.5rem;
}

#landing_text_not_home h2 {
	color: #888;
	font-size: 1.25rem;
}

#staff {
	background: #fff;
}

#staff_text {
	display: flex;
	flex: 0 1 40vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
}

#staff_text h2 {
	font-size: 1.25rem;
}

#staff_text p {
	font-size: 0.75rem;
}

#break {
	padding: 0.5rem;
	text-align: center;
	background: #333;
	color: #fff;
}

#break h2 {
	display: inline-block;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 1.5rem;
}

#chiefjack_image {
	background: url(../img/chiefjack.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#strikeking22_image {
	background: url(../img/strikeking22.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#satanicgd_image {
	background: url(../img/satanicgd.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#cynik_image {
	background: url(../img/cynik.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#ender_image {
	background: url(../img/ender.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#v3ntique_image {
	background: url(../img/v3ntique.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#aphorism_image {
	background: url(../img/aphorism.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#ardolf_image {
	background: url(../img/ardolf.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#chunks_image {
	background: url(../img/chunks.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#eridani_image {
	background: url(../img/eridani.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#fghjapan_image {
	background: url(../img/fghjapan.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#gooseam_image {
	background: url(../img/gooseam.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#meg3orite_image {
	background: url(../img/meg3orite.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#sakura_image {
	background: url(../img/sakura.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#sequex_image {
	background: url(../img/sequex.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#v0ltgd_image {
	background: url(../img/v0ltgd.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#ztratoz_image {
	background: url(../img/ztratoz.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 50vw;
	margin: 0;
}

#tutors {
	background: #fff;
}

#tutors_text {
	display: flex;
	flex: 0 1 40vw;
	height: 50vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
}

#tutors_text h2 {
	font-size: 1.25rem;
}

#tutors_text p {
	font-size: 0.75rem;
}

#tutors_menu_header {
	padding: 0.5rem;
	text-align: center;
	background: #333;
	color: #fff;
}

#tutors_menu_header h2 {
	display: inline-block;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 1.5rem;
}

#tutors_buttons {
	display: inline-block;
	flex: 0 1 40vw;
	height: 50vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
}

#tutors_list {
	text-align: center;
}

#teachers {
	background: #fff;
}

#teachers_text {
	display: flex;
	flex: 0 1 40vw;
	height: 50vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
}

#teachers_text h2 {
	font-size: 1.25rem;
}

#teachers_text p {
	font-size: 0.75rem;
}

#teachers_menu_header {
	padding: 0.5rem;
	text-align: center;
	background: #333;
	color: #fff;
}

#teachers_menu_header h2 {
	display: inline-block;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 1.5rem;
}

#teachers_buttons {
	display: inline-block;
	flex: 0 1 40vw;
	height: 50vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
}

#teachers_list {
	text-align: center;
}

#classes_main {
	background: #fff;
}

#classes_menu_header {
	padding: 0.5rem;
	text-align: center;
	background: #333;
	color: #fff;
}

#classes_menu_header h2 {
	display: inline-block;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 1.5rem;
}

#classes_buttons {
	text-align: center;
	padding-bottom: 2rem;
}

#teachers_button {
	display: inline-block;
	flex: 0 1 40vw;
	padding-left: 2rem;
	padding-right: 2rem;
}

#tutors_button {
	display: inline-block;
	flex: 0 1 40vw;
	padding-left: 2rem;
	padding-right: 2rem;
}

#classes_list {
	text-align: center;
}

#classes_text {
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
}

#air_deco_image {
	background: url(../img/air_deco_class.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 70vh;
	margin: 0;
}

#block_deco_image {
	background: url(../img/block_deco_class.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 70vh;
	margin: 0;
}

#tech_image {
	background: url(../img/tech_class.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 70vh;
	margin: 0;
}

#glow_image {
	background: url(../img/glow_class.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 70vh;
	margin: 0;
}

#core_image {
	background: url(../img/core_class.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 70vh;
	margin: 0;
}

#modern_image {
	background: url(../img/modern_class_1.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 70vh;
	margin: 0;
}

#design_image {
	background: url(../img/design_class.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 70vh;
	margin: 0;
}

#art_image {
	background: url(../img/art_class.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 70vh;
	margin: 0;
}

#effect_image {
	background: url(../img/effect_class.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 70vh;
	margin: 0;
}

#gameplay_image {
	background: url(../img/gameplay_class.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 70vh;
	margin: 0;
}

#trigger_image {
	background: url(../img/trigger_class.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 70vh;
	margin: 0;
}

#threedl_image {
	background: url(../img/3dl_class.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 70vh;
	margin: 0;
}

#colour_image {
	background: url(../img/colour_class.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 70vh;
	margin: 0;
}

#last_updated {
	float: right;
	font-size: 1rem;
	padding-right: 1rem;
}

#events {
	background: #fff;
}

#events_text {
	flex: 0 1 40vw;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
}

#events_text h2 {
	font-size: 1.25rem;
	text-align: center;
}

#events_text p {
	font-size: 0.75rem;
	text-align: center;
}

#events_menu_header {
	padding: 0.5rem;
	text-align: center;
	background: #333;
	color: #fff;
}

#events_menu_header h2 {
	display: inline-block;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 1.5rem;
}

.subtitle {
	color: #888;
}

.discord_embed_header {
	text-align: center;
	padding: 2rem;
}

.discord_embed_header h1 {
	font-weight: 400;
	font-size: 3rem;
	margin: 0;
}

.discord_embed_header h2 {
	font-weight: 400;
	font-size: 1.5rem;
	margin: 0;
	color: #888;
}

.discord_embed {
	height: 100vh;
	width: 100%;
	max-width: 850px;
	display: block;
	margin: auto;
	box-shadow: 20px 0px 50px rgba(0,0,0,0.2),
	-20px 0px 50px rgba(0,0,0,0.2);
}

.wwo_header {
	text-align: center;
	padding: 1.5rem;
}

.wwo_header h1 {
	font-weight: 400;
	font-size: 3rem;
	margin: 0;
}

.wwo_header h2 {
	font-weight: 400;
	font-size: 1.5rem;
	margin: 0;
	color: #888;
}

.wwo_main {
	text-align: center;
}

.wwo_main p {
	font-size: 1rem;
	text-align: center;
	padding: 1rem;
}

.about_header {
	text-align: center;
	padding-top: 1.5rem;
}

.about_header h1 {
	font-weight: 400;
	font-size: 3rem;
	margin: 0;
}

.about_header h2 {
	font-weight: 400;
	font-size: 1.5rem;
	margin: 0;
	color: #888;
}

.about_main {
	text-align: center;
}

.about_main p {
	font-size: 1.25rem;
	text-align: center;
	padding: 1rem;
}

.links {
	text-decoration: none;
}

.sitemap {
	text-decoration: none;
	padding-left: 1rem;
	padding-right: 1rem;
}

#header {
	padding: 1.5rem;
	text-align: center;
	background: #333;
	color: #fff;
}

#header h2 {
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 2rem;
}

.caption {
	padding: 0.8rem;
	text-align: center;
}

#back_to_top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  top: 5%;
  right: 0;
  background-color: #ddd;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

#down_to_bottom {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: fixed;
  bottom: 5%;
  right: 0;
  background-color: #ddd;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

#back_to_top:hover, #down_to_bottom:hover {
    background-color: #ddd;
    color: #000;
}

footer {
	text-align: center;
	padding: 2rem 1rem;
	margin: auto;
	color: #333;
}

footer h3 {
	font-size: 3rem;
	margin-bottom: 0;
}

#contact_us h1 {
	display: inline-block;
	float: left;
	clear: both;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	font: inherit;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

button {
	font: inherit;
}

#go_back {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	text-align: center;
  text-decoration: none;
	background-color: #ddd;
  color: #555;
	display: inline-block;
	float: right;
}

#go_back:hover {
	background-color: #ddd;
	color: #000;
}

/* Screen Sizes 500px and Up */
@media(min-width: 500px) {
	#landing {
		display: flex;
		height: 100%;
	}

	#landing_text {
		height: 100vh;
	}

	#landing_image {
		height: 100vh;
	}

	#landing_not_home {
		height: 100%;
	}

	#landing_text_not_home {
		height: 100vh;
	}

	#landing_text_not_home h1 {
		font-size: 5rem;
	}

	#landing_text_not_home h2 {
		color: #888;
		font-size: 2.5rem;
	}

	#staff {
		display: flex;
		height: 100%;
	}

	#tutors {
		height: 100%;
	}

	#teachers {
		height: 100%;
	}

	#classes {
		height: 100%;
	}

	#events {
		height: 100%;
	}
}

/* Screen Sizes 700px and Up */
@media(min-width: 700px) and (min-height: 600px) {
	.btn {
		padding: 1rem 3rem;
	}

	#staff_text h2 {
		font-size: 3rem;
	}

	#staff_text p {
		font-size: 1.25rem;
	}

	#tutors_text h2 {
		font-size: 3rem;
	}

	#tutors_text p {
		font-size: 1.25rem;
	}

	#teachers_text h2 {
		font-size: 3rem;
	}

	#teachers_text p {
		font-size: 1.25rem;
	}

	#classes_text h2 {
		font-size: 3rem;
	}

	#classes_text p {
		font-size: 1.25rem;
	}

	#events_text h2 {
		font-size: 3rem;
	}

	#events_text p {
		font-size: 1.25rem;
	}
}

@media(max-width: 900px) {
	.discord_embed {
		width: 90%;
	}
}
